<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Page</title>
</head>
<body>
    <div>
        <h1>Profile page</h1>
        <h2>USER DATA:</h2>
        <ul>
            <li>ID:<%= users.id %></li>
            <li>NAME:<%= users.name %></li>
            <li>EMAIL:<%= users.email %></li>
        </ul>
       
    </div>
</body>
</html>
